/* Save this file as /static/styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #ACB6E5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px 60px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    position: relative;
    width: 100%;
}

input[type="text"] {
    width: calc(100% - 60px); /* Adjusted for both icon widths */
    padding: 10px 40px 10px 10px; /* Added padding for left and right */
    margin: 10px 0;
    border: 2px solid #007BFF;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #0056b3;
    outline: none;
}

.clear-icon {
    position: absolute;
    margin-right: 10px;
    top: 50%; /* Center vertically */
    right: 30px; /* Space from the right edge */
    transform: translateY(-50%); /* Adjust for vertical centering */
    font-size: 20px; /* Increase icon size */
    color: #FF0000; /* Red color for clear icon */
    cursor: pointer;
    transition: color 0.3s;
}

.clear-icon:hover {
    color: #cc0000; /* Darker red on hover */
}

.paste-icon {
    position: absolute;
    top: 50%; /* Center vertically */
    right: 10px; /* Space from the right edge */
    transform: translateY(-50%); /* Adjust for vertical centering */
    font-size: 20px; /* Increase icon size */
    color: #007BFF; /* Blue color for paste icon */
    cursor: pointer;
    transition: color 0.3s;
}

.paste-icon:hover {
    color: #0056b3; /* Darker blue on hover */
}

button {
    padding: 10px 25px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

.error {
    color: red;
    margin-top: 15px;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #555;
}

.fa {
    margin-right: 5px;
}
